
html {
    font-size: 18px;
    font-family: halyard-micro, sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #f7f5f3;
}

@media screen and (min-width: 480px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 1024px;
    padding: 0 16px;
    margin: 0 auto;
}

#hero {
    background-color: #f3ddff;
}

.hero-content {
    display: flex;
    flex-direction: row;
    /* outline: solid 1px red; */
}

#mission {
    padding: 60px 45px;
    background-color: lightblue;
    text-align: center;
    justify-content: space-around;
}

#featured {
    padding: 60px 0px;
}

.featured-content {
    outline: solid 1px red;
}

.featured-content-items {

}

.featured-content-items .item {
    margin-bottom: 1.75em;
}

.featured-content-items .item .item-image img {
    transition: all 0.2s ease-in-out;
}

.featured-content-items .item .item-image {
    overflow: hidden;
}

.featured-content-items .item .item-image img:hover {
    transform: scale(1.05);
}

.featured-content-items .item:first-child {
    background-color: pink;
}

.featured-content-items .item:last-child {
    background-color: yellow;;
}

.featured-content-items .item:hover {
    background-color: blue;
}

.text {
    margin: 50px 40px 20px auto;
    max-width: 450px;
}

.picture {
    margin: 30px auto;
}

/* .box-a {
    outline: solid 1px red;
} */

h1 {
    font-size: 38px;
    line-height: 1.35;
}

p {
    font-size: 0.9em;
    font-family: 'Libre Franklin', sans-serif;
    padding-top: 20px;
}

@media (min-width: 480px) {
    #hero {
        flex-direction: column-reverse;
    }

    .featured-content-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .featured-content-items .item {
        flex: 0 0 32%;
        margin-right: 2%;
        margin-bottom: 2%;
    }

    .featured-content-items .item:nth-child(3n) {
        margin-right: 0;
    }
}

@media (min-width: 800px) {

}

