
html {
    font-size: 18px; 
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 480px) {
    html {
        font-size: 16px;
    }
}

p {
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

#site-header {
    margin: 0;
    padding: 16px;
    background-color: lightpink;
}


#site-header .main-menu {
    margin: 0;
    padding: 0;
}

#site-header .main-menu li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#site-header .main-menu li a {
    display: block;
    padding: 4px 12px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    background-color: #2e53a5;
    transition: all 0.2s ease;
}

#site-header .main-menu li a:hover {
    background-color: #486cbb;
}

#main {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-row-gap: 0;
    grid-template-columns: minmax(0, 1fr) 0.3fr;
    grid-template-areas: "content sidebar-second";
    grid-column-gap: 28px; 
}

#main article {
    grid-area: content;
    padding: 16px;
    background-color: #f1f1f1;
}

#main aside {
    grid-area: sidebar-second;
    padding: 16px;
    background-color: #eeffee;
}

